/* Elements */
body {
    background: white; 
    color: navy; 
    font-family: Lato, sans-serif;
}

* {
    box-sizing: border-box;
}

a:link {color: blue; font-weight: bold;}
a:visited {color: blue; font-weight: bold;}
a:hover {color: crimson; font-weight: bold;}
a:active {color: darkred; font-weight: bolder;}

    /* Posts */
.post {
    vertical-align: top;
    margin-bottom: 10px;
}

.post.featured {
    text-align: center; 
}

.post.alert {
    color: Red;
    border: 3px solid red;
    padding: 10px;
    
}

.post.title {
    height: 40px;
    text-align: center; 
    line-height: 40px;
    background-color: blue;
    color: white;
    column-span: all;
}

.button {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 3px solid blue;
    background-color: skyblue;
    color: blue;
    height: 50px;
    width: 200px;
    text-align: center;
    font-weight: bold; 
    line-height: 50px;
    margin-bottom: 30px;
    margin: auto;
}

.button:hover {
    background-color: blue;
    color: white;
}

a.button:link {
    text-decoration: none;
    border: none;
}
a.button:visited {color: blue; font-weight: normal;}
a.button.active {color: darkred; font-weight: bolder;}

.kodi_logo {
    background-color: #333;
    text-align: center;
    position: relative;
    border: none;
}
    
.kodi_logo img {
    border-radius: 0px;
    width: 100px;
    margin: 0;
    position: absolute;
    top: 50%;          
    transform: translate(-50%, -50%);
}


/* Style the header */
img.header {width: 100; height: 100; padding: 0px}

.strip {
    background-color: skyblue;
    white-space: nowrap;
}

.menu {
    color: blue;
    background-color: skyblue;
    /*
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    */
    /* border: 3px solid blue; */
    height: 40px;
    /*width: 200px;*/
    text-align: center;
    font-weight: bold; 
    line-height: 40px;
    padding: 0px 5px;
}

.menu:link {
    text-decoration: none;
    border: none;
}

a.menu:hover {
    color: white;
    background-color: blue;    
}
/*
a.menu:visited {
    color: darkred
}
*/
a.menu.active {
    color: blue;    
}

/* Create multi columns */
.page.column {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}

.page.column.single {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}

.page.header {
    text-align: left;
    font-size: 20px;
}

.page.center {
    text-align: left;
    padding: 0px 0px 0px 10px;
}

.page.footer {
    vertical-align: top;
    text-align: center;
    margin: auto;
}

img {
    width: 100%;
    /*
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    */
    margin-bottom: 10px;
}

.page {
    width: 100%;
    margin: auto;
    padding: 10px;
}

/* Responsive layout - reduces column count */
@media only screen and (min-width: 768px) {
    .page {
        width: 520px;
    }

    img {
        width: 500px;
    }

    .page.column.single {
        width: 520px;
    }
}

@media only screen and (min-width: 1100px) {
    .page {
        width: 1025px;
    }

    .column {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
    }
}

@media only screen and (min-width: 1600px) {
    .page {
        width: 1530px;
    }

    .column {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
    }
}
